{% load services_tag %}
<!-- Purchase Popup -->
<div id="purchase-popup" class="purchase-popup">
	<div class="close-search theme-btn"><span>Закрыть</span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>

    	<div class="purchase-form">
			<div class="sec-title centered">
				<h2>Оставить заявку</h2>
				<div class="text">И получить невероятные ощущения и бурю эмоций<br> которые гарантированно запомнятся на всю жизнь</div>
			</div>

			<!-- Default Form -->
			<form method="post" action="{% url 'home' %}">
				{% csrf_token %}

				<div class="row clearfix">

					<div class="col-lg-12 col-md-12 col-sm-12 form-group">
						{{ form }}
					</div>

					<div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
						<span class="data">* Все личные данные зашифрованы</span>
						<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">ОСТАВИТЬ ЗАЯВКУ</span></button>
					</div>

				</div>

			</form>


        </div>

    </div>
</div>
