{% load static %}
	<!-- Main Footer -->
															<!--710x712-->
    <footer class="main-footer" style="background-image:url({% static 'images/pex.png' %})">
		<div class="auto-container">
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
																				<!--230x46-->
                                    	<a href="{% url 'home' %}"><img src="{% static 'images/230x46.png' %}" alt="" /></a>
                                    </div>
									<!-- Footer Mobile Logo -->
									<div class="footer-mobile-logo">
																		<!--180x78-->
										<a href="{% url 'home' %}"><img src="{% static 'images/180x78.png' %}" alt="" title=""></a>
									</div>
									<ul class="info-list">
										<li><span>Город:</span>Краснодар</li>
										<li><span>Телефон:</span>
										<a href="tel:+7-918-042-62-82">+7-918-042-62-82</a>
										</li>
										<li><span>Email:</span><a href="mailto:voloshinw@gmail.com">voloshinw@gmail.com</a></li>
										<li class="social-links"><span>Мы в соцсетях:</span>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-instagram"></i></a>
										<a href="#"><i class="fa fa-vk"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										</li>
									</ul>
								</div>
							</div>


						</div>
					</div>

				</div>
			</div>

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">DESIGN BY KADIROV. 2020 | DEVELOPED BY VOLOSHIN. 2021</div>
			</div>

		</div>
	</footer>
