	<!-- Main Footer -->
															<!--710x712-->
    <footer class="main-footer" style="background-image:url(https://via.placeholder.com/710x712)">
		<div class="auto-container">
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
																				<!--230x46-->
                                    	<a href="{% url 'home' %}"><img src="https://via.placeholder.com/230x46" alt="" /></a>
                                    </div>
									<!-- Footer Mobile Logo -->
									<div class="footer-mobile-logo">
																		<!--180x78-->
										<a href="{% url 'home' %}"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
									</div>
									<ul class="info-list">
										<li><span>Город:</span>Краснодар</li>
										<li><span>Телефон:</span>
										<a href="tel:+7-918-042-62-82">+7-918-042-62-82</a>
										</li>
										<li><span>Email:</span><a href="mailto:voloshinw@gmail.com">voloshinw@gmail.com</a></li>
										<li class="social-links"><span>Мы в соцсетях:</span>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-instagram"></i></a>
										<a href="#"><i class="fa fa-vk"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										</li>
									</ul>
								</div>
							</div>

							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
									<h6>Галерея</h6>
									<div class="widget-content">

										<div class="images-outer clearfix">
											<!--Image Box-->
																				<!--320x320--> 																																		<!--80x80-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">DESIGN BY KADIROV. 2020</div>
			</div>

		</div>
	</footer>
