	<!-- Main Footer -->
    <footer class="main-footer" style="background-image:url(https://via.placeholder.com/710x712)">
		<div class="auto-container">
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="https://via.placeholder.com/230x46" alt="" /></a>
                                    </div>
									<!-- Footer Mobile Logo -->
									<div class="footer-mobile-logo">
										<a href="index.html"><img src="https://via.placeholder.com/180x78" alt="" title=""></a>
									</div>
									<ul class="info-list">
										<li><span>Address:</span>4578 Marmora Road, Glasgow</li>
										<li><span>Phones:</span>
										<a href="tel:1-123-456-78-89">+1-123-456-78-89</a><br>
										<a href="tel:1-123-456-78-80">+1-123-456-78-80</a>
										</li>
										<li><span>Working Hours:</span>Monday-Sunday: 07:00 - 22:00</li>
										<li><span>Email:</span><a href="mailto:info@bigbear.com">info@bigbear.com</a></li>
										<li class="social-links"><span>Our Socials:</span>
											<a href="#" class="fa fa-facebook"></a>
											<a href="#" class="fa fa-twitter"></a>
											<a href="#" class="fa fa-instagram"></a>
											<a href="#" class="fa fa-linkedin"></a>
										</li>
									</ul>
								</div>
							</div>

							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget news-widget">
									<h6>BLOG POSTS</h6>
									<div class="widget-content">

										<div class="post">
											<div class="thumb"><a href="blog-single.html"><img src="https://via.placeholder.com/85x85" alt=""></a></div>
											<h5><a href="blog-single.html">HOW TO MAXIMISE TIME SPENT AT THE GYM</a></h5>
											<span class="date">JUNE 21, 2020</span>
										</div>

										<div class="post">
											<div class="thumb"><a href="blog-single.html"><img src="https://via.placeholder.com/85x85" alt=""></a></div>
											<h5><a href="blog-single.html">10 TIPS HOW TO PREPARE MEALS FAST AND EASY</a></h5>
											<span class="date">JUNE 21, 2020</span>
										</div>

										<div class="post">
											<div class="thumb"><a href="blog-single.html"><img src="https://via.placeholder.com/85x85" alt=""></a></div>
											<h5><a href="blog-single.html">SIMPLE CONDITION FOR ALL AROUND FITNESS</a></h5>
											<span class="date">JUNE 21, 2020</span>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
									<h6>Instagram</h6>
									<div class="widget-content">

										<div class="images-outer clearfix">
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
											<!--Image Box-->
											<figure class="image-box"><a href="https://via.placeholder.com/320x320" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
										</div>

									</div>
								</div>
							</div>

							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
									<h6>Newsletter</h6>
									<div class="text">BLACKFIT – fitness health center where your body gets its shape! Start training now to stay fit and healthy all year round!</div>
									<!-- Newsletter Form -->
									<div class="newsletter-form">
										<form method="post" action="contact.html">
											<div class="form-group">
												<input type="email" name="email" value="" placeholder="Email" required="">
												<button type="submit" class="theme-btn submit-btn"><span><img src="images/icons/message-icon.png" alt="" /></span></button>
											</div>
										</form>
									</div>

								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">DESIGN BY KADIROV. 2020</div>
			</div>

		</div>
	</footer>
