{% load static %}
{% load services_tag %}
{% block header %}

<!-- Preloder -->
	<div id="preloder" class="preloader">
		<div class="loader"></div>
	</div>
	<!-- Εnd Preloader -->

 	<!-- Main Header-->
    <header class="main-header header-style-one">

		<!--Header-Upper-->
        <div class="header-upper">
        	<div class="outer-container">
            	<div class="inner-container clearfix">

					<!-- Logo Box -->
                	<div class="logo-box">
                    	<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/180x78.jpg' %}" alt="" title=""></a></div>
                    </div>

					<!-- Logo -->
					<div class="mobile-logo pull-left">
						<a href="{% url 'home' %}" title=""><img src="{% static 'images/230x46.jpg' %}" alt="" title=""></a>
					</div>

					<!-- Header Social Box -->
					<div class="header-social-box clearfix">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-vk"></a>
						<a href="#" class="fa fa-youtube"></a>
					</div>

					<div class="outer-box clearfix">

						<!-- Hidden Nav Toggler -->
						<div class="nav-toggler">
						   <div class="nav-btn"><button class="hidden-bar-opener">Меню</button></div>
						</div>
						<!-- / Hidden Nav Toggler -->

					</div>

					<div class="nav-outer clearfix">
						<!--Mobile Navigation Toggler-->
						<div class="mobile-nav-toggler"><span class="icon"><img src="images/icons/burger.svg" alt="" /></span></div>
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<!-- Toggle Button -->
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li><a href="{% url 'home' %}">Главная</a></li>
									{% list_services %}
									<li><a href="tel:+79180426282">Позвонить нам</a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-vk"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>

						</nav>

					</div>

                </div>

            </div>
        </div>
        <!--End Header Upper-->

		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="{% url 'home' %}" title=""><img src="{% static 'images/230x46.jpg' %}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->

                </div>
            </div>
        </div><!-- End Sticky Menu -->

		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="{% url 'home' %}"><img src="{% static 'images/230x46.jpg' %}" alt="" title=""></a></div>
                <div class="menu-outer">
				<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>

        </div>
		<!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

	<!-- FullScreen Menu -->
	<div class="fullscreen-menu">
		<!--Close Btn-->
		<div class="close-menu"><span>Закрыть</span></div>
		<div class="menu-outer-container">
			<div class="menu-box">
				<nav class="full-menu">
					<ul class="navigation">
						<li><a href="{% url 'home' %}">Главная</a></li>
						{% list_services %}
						<li><a href="tel:+79180426282">Позвонить нам</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- End FullScreen Menu -->

{% endblock %}