<section>
    <div class="container">
        <div class="row wow fadeIn">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for item in faq %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo" role="tab">
                            <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion" href="#collapseTwo"
                                                       aria-expanded="false" aria-controls="collapseTwo">
                                                       {{ item.question }}
                                                    </a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">{{ item.answer|safe }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
