{% extends 'base.html' %}
{% load services_tag %}
{% load static %}

{% block title %} Главная Страница - PROnebo {% endblock %}

{% block content %}
<!-- Banner Section -->
    <section class="banner-section">
		<div class="main-slider-carousel owl-carousel owl-theme">

			<div class="slide">
																		<!--1920x930-->
				<div class="image-layer" style="background-image:url({% static 'images/banner-3.jpg' %})"></div>
				<div class="auto-container">
					<!-- Content Boxed -->
					<div class="content-boxed">
						<div class="inner-boxed">
							<h1>Ты можешь больше <span>Чем ты думаешь</span></h1>
							<div class="text"><h4>Взгляни своим страхам в глаза <br> Решись на прыжок с парашютом в тандеме с инструктором</h4></div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide">
				<div class="image-layer" style="background-image:url({% static 'images/banner-1.jpg' %})"></div>
				<div class="auto-container">
					<!-- Content Boxed -->
					<div class="content-boxed">
						<div class="inner-boxed">
							<h1>Стань <span>Покорителем неба</span></h1>
							<div class="text"><h4>Пройди курс AFF, получи сертификат и начни прыгать с парашютом самостоятельно!</h4></div>
						</div>
					</div>
				</div>

			</div>

			<div class="slide">
				<div class="image-layer" style="background-image:url({% static 'images/banner-2.jpg' %})"></div>
				<div class="auto-container">
					<!-- Content Boxed -->
					<div class="content-boxed">
						<div class="inner-boxed">
							<h1>Почувствуй себя <span>Птицей</span></h1>
							<div class="text"><h4>Запишись на полет на паратрайке, и ощути, каково это стать одним целым с небом</h4></div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".testimonial-section">
			<span class="icon"><img src="{% static 'images/icons/scroll.png' %}" alt="" /></span>
		</div>

	</section>
	<!-- End Banner Section -->

	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<div class="inner-container">
				<span class="quote-left flaticon-quote-3"></span>
				<span class="quote-right flaticon-quote-4"></span>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="text">Давно манит небо? Хочется познакомиться с ним поближе? <br> <br> Наша компания - это Про небо.
							<br> <br> Мы занимаемся активными видами отдыха, связанными с воздушной стихией.<br>
						Вместе с нами ты сможешь: прыгнуть с парашютом, полетать на паратрайке, или просто насладиться видом ночного города из окна самолёта вместе со своей компанией.<br>
						В нашей команде работают только лучшие специалисты, у которых более 10 лет опыта за плечами.<br>
						Оставь заявку и сделай свой первый шаг навстречу небу!</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->

	<!-- Services Section -->
	{% show_services %}
	<!-- End Services Section -->

	<!-- We Are Section -->
	<section class="we-are-section">
		<div class="auto-container">
			<div class="sec-title centered">
				<h2><span>Коротко</span> о нас</h2>
				<div class="text">Специально для Вас мы сняли ролик, который поможет нам познакомиться поближе!
					<br>Попробуйте прочувствовать всей душой эти яркие моменты и зарядиться энергией вместе с нами.
					<br> Это поможет вам стать еще на шаг ближе к исполнению своей мечты!
					<br> Приятного просмотра :)</div>
			</div>

			<!--Video Box-->
			<div class="video-box">
				<figure class="video-image">
<!--					1170x594-->
					<img src="https://images.pexels.com/photos/6173322/pexels-photo-6173322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
				</figure>
				<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span><img src="{% static 'images/icons/play-icon.png' %}" alt="" /><i class="ripple"></i></span></a>
			</div>

		</div>
	</section>
	<!-- End We Are Section -->

	<!-- Gallery Section -->
	<section class="gallery-section">
		<div class="outer-container">
			<div class="row clearfix">

				{% for item in gallery %}
				<!-- Gallery Block -->
				<div class="gallery-block">
					<div class="inner-box">
						<div class="image">
						<!--320x320-->
							<img src="{{ item.photo.url }}" alt="" />
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	<!-- End Gallery Section -->

	<!-- Counter Section -->
	<section class="counter-section">
		<div class="auto-container">
			<div class="sec-title centered">
				<h2><span>Цифры</span> говорят за нас</h2>
				<div class="text">Мы решили привести небольшую статистику о нашем опыте, чтобы вам было проще решиться довериться нам</div>
			</div>

			<!-- Fact Counter -->
			<div class="fact-counter">
				<div class="row clearfix">

					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="3000" data-stop="1093">0</span>
								</div>
								<div class="counter-title">Довольных клиента</div>
							</div>
						</div>
					</div>

					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box alternate">
									<span class="count-text" data-speed="5000" data-stop="9">0</span>
								</div>
								<div class="counter-title">Лет опыта</div>
							</div>
						</div>
					</div>

					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="5000" data-stop="36">0</span>
								</div>
								<div class="counter-title">Членов команды</div>
							</div>
						</div>
					</div>

					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="3500" data-stop="52">0</span>
								</div>
								<div class="counter-title">Единицы техники</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
	<!-- End Counter Section -->

	<!-- Testimonial Section -->
	<section class="testimonial-section-two">
		<div class="auto-container">
			<div class="sec-title centered">
				<h2><span>Что говорят</span><br>клиенты</h2>
			</div>

			<div class="testimonial-outer">


				<!--Product Thumbs Carousel-->
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme">
						{% for item in testimonial %}
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{{ item.photo.url }}" alt=""></figure>
                        </div>
						{% endfor %}
                    </div>
                </div>

            	<!-- Client Testimonial Carousel -->
                <div class="client-testimonial-carousel owl-carousel owl-theme">

                    <!--Testimonial Block -->
					{% for item in testimonial %}
                    <div class="testimonial-block-two">
                        <div class="inner-box">
							<span class="quote-left flaticon-quote-3"></span>
							<span class="quote-right flaticon-quote-4"></span>
							<div class="text">{{ item.phrase }}</div>
							<div class="author-info">
								<div class="author-name">{{ item.name }}</div>
								<div class="designation">{{ item.position }}</div>
							</div>
                        </div>
                    </div>
					{% endfor %}

                </div>

            </div>

		</div>
	</section>
	<!-- End Testimonial Section -->

	<!-- FAQ Section -->
	<section class="testimonial-section">
	<div class="sec-title centered">
		<h2><span>FAQ</span><br>Часто задаваемые вопросы</h2>
	</div>
	<div class="auto-container">
			<div class="row clearfix">

			{% for item in faq %}
			        <div class="content-side col-lg-9 col-md-12 col-sm-12">
                	<div class="bodybuilder-detail">
						<div class="inner-box">
							<!-- Blockquote -->
							<div class="blockquote">
								{{ item.question|safe }}
							</div>
							<p>{{ item.answer|safe }}</p>
							</div>
						</div>
					</div>
			{% endfor %}
			</div>
		</div>
	</section>
	<!-- End FAQ Section -->

{% endblock %}