<section class="services-section">
    <div class="outer-container">
        <div class="clearfix">
            <!-- Service Block -->
            {% for item in services %}
            <div class="service-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="items/{{ item.slug }}" class="overlay-link"></a>
                        <img src="{{ item.photo.url }}" alt=""/>
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h4><a href="items/{{ item.slug }}">{{ item.title }}</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
