{% extends 'base.html' %}

{% block content %}
	<!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x720)">
    	<div class="auto-container">
			<h2>OUR STORE</h2>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>Shop</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Shop Single Section -->
    <section class="shop-single-section">
    	<div class="auto-container">
        	
            <!--Shop Single-->
            <div class="shop-page product-details">
                
                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">
                    
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="carousel-outer">
        
                                <ul class="image-carousel owl-carousel owl-theme">
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                    <li><a href="https://via.placeholder.com/570x676" class="lightbox-image" title="Image Caption Here"><img src="https://via.placeholder.com/570x676" alt=""></a></li>
                                </ul>
                                
                                <ul class="thumbs-carousel owl-carousel owl-theme">
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                    <li><img src="https://via.placeholder.com/171x176" alt=""></li>
                                </ul>
                                
                            </div>
                        </div>


                        <!--Info Column-->
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="details-header">
                                <h5>{{ slug.title }}</h5>
								<div class="text"> {{ slug.content|safe }} </div>
                                <div class="item-price">{{ slug.price }} руб.</div>
                            </div>

                            <div class="other-options">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="item-quantity"><input class="quantity-spinner" type="text" value="2" name="quantity"></div>
                                    </div>
                                    <div class="pull-left">
                                        <!--Btns Box-->
                                        <div class="btns-box">
                                            <a href="#pricing-section" class="theme-btn btn-style-one"><span class="txt">ADD TO CARD &ensp;<i class="flaticon-shopping-cart-3"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <ul class="shop-list">
                            	<li><strong>SKU:</strong>N/A</li>
                                <li><strong>Categories:</strong>New Arrivals</li>
                                <li><strong>Tag:</strong>Sport</li>
                            </ul>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- Basic Details -->
			</div>
			
		</div>
	</section>
	<!-- End Shop Single Section -->

	{% include 'inc/_purchase.html' %}


{% include 'inc/_contactform.html' %}

{% endblock %}

