{% extends 'base.html' %}
{% load static %}

{% block seo %} {% endblock %}

{% block title %} {{ services.title }} - PROnebo {% endblock %}

{% block content %}
	<!--Page Title-->
                                                        <!--1920x720-->
    <section class="page-title" style="background-image:url({% static 'images/background-services.jpg' %})">
    	<div class="auto-container">
			<h2>{{ services.title|upper }}</h2>
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">главная</a></li>
				<li>Услуги</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Shop Single Section -->
    <section class="shop-single-section">
    	<div class="auto-container">
        	
            <!--Shop Single-->
            <div class="shop-page product-details">
                
                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">
                    
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="carousel-outer">
        
                                <ul class="image-carousel owl-carousel owl-theme">
                                    {% for item in images %}
                                    <li><a href="{{ item.image.url }}" class="lightbox-image" title=""><img src="{{ item.image.url }}" alt=""></a></li>
                                    {% endfor %}
                                </ul>
                                
                                <ul class="thumbs-carousel owl-carousel owl-theme">
                                    {% for item in images %}
                                    <li><img src="{{ item.image.url }}" alt=""></li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>


                        <!--Info Column-->
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="details-header">
                                <h5>{{ services.title|upper }}</h5>
								<div class="text"> {{ services.content|safe }} </div>
                                <div class="item-price">от {{ services.price }} руб.</div>
                            </div>

                            <div class="other-options">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <!--Btns Box-->
                                        <div class="btns-box">
                                            <a href="#pricing-section" class="theme-btn btn-style-one"><span class="txt">ОСТАВИТЬ ЗАЯВКУ &ensp;<i class="flaticon-shopping-cart-3"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            {% comment %}
                            <ul class="shop-list">
                            	<li><strong>Возрастное ограничение:</strong>N/A</li>
                                <li><strong>Уровень сложности:</strong>New Arrivals</li>
                            </ul>
                            {% endcomment %}

                        </div>
                        
                    </div>
                </div>
                <!-- Basic Details -->
			</div>
			
		</div>
	</section>
	<!-- End Shop Single Section -->

<!-- Pricing Section -->
																						<!--1920x1092-->
	<section class="pricing-section" id="pricing-section" style="background-image: url({% static 'images/background-purchases.jpg' %})">
		<div class="auto-container">
			<div class="sec-title centered">
				<h2><span>Разновидности</span> Пакетов</h2>
			</div>
			<div class="row clearfix">

				<!-- Pricing Block -->
				<div class="price-block col-lg-4 col-md-4 col-sm-12">
					<div class="side-text">ЭКОНОМ</div>
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon"><img src="{% static 'images/icons/price-1-icon.svg' %}" alt="" /></span>
						</div>
						<ul class="price-list">

							{% for item in econom %}
							<li class="hide">{{ item.title }}</li>
							{% endfor %}

							{% for item in econom_hide %}
							<li class="hide">{{ item.title }}</li>
							{% endfor %}

						</ul>
						<div class="price">{{ price_econom.price }} руб.</div>
						<div class="theme-btn btn-style-one purchase-box-btn"><span class="txt">ОСТАВИТЬ ЗАЯВКУ</span></div>
					</div>
				</div>

				<!-- Pricing Block -->
				<div class="price-block col-lg-4 col-md-4 col-sm-12">
					<div class="side-text">PROFESSIONAL</div>
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon"><img src="{% static 'images/icons/price-2-icon.svg' %}" alt="" /></span>
						</div>
						<ul class="price-list">
							<li>Membership Card</li>
							<li>Health and Fitness Tips</li>
							<li>Personal Health Solution</li>
							<li>Diet Plan Included</li>
							<li class="hide">6 Days a Week</li>
							<li class="hide">Zumba Classes</li>
						</ul>
						<div class="price">35000 руб</div>
						<div class="theme-btn btn-style-one purchase-box-btn"><span class="txt">ОСТАВИТЬ ЗАЯВКУ</span></div>
					</div>
				</div>

				<!-- Pricing Block -->
				<div class="price-block col-lg-4 col-md-4 col-sm-12">
					<div class="side-text">ULTIMATE</div>
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon"><img src="{% static 'images/icons/price-3-icon.svg' %}" alt="" /></span>
						</div>
						<ul class="price-list">
							<li>Membership Card</li>
							<li>Health and Fitness Tips</li>
							<li>Personal Health Solution</li>
							<li>Diet Plan Included</li>
							<li>6 Days a Week</li>
							<li>Zumba Classes</li>
						</ul>
						<div class="price">25000 руб</div>
						<div class="theme-btn btn-style-one purchase-box-btn"><span class="txt">ОСТАВИТЬ ЗАЯВКУ</span></div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Pricing Section -->


{% include 'inc/_contactform.html' %}

{% endblock %}

